@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

/* RESET */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body{
    overflow: hidden;
    background: url('../imagens/fundo.jpg') no-repeat;
    background-attachment: fixed; 
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
img{
    max-width: 100%;
}
/* CABEÇALHO */
header#cabecalho {
    position: absolute;
    z-index: 1;
    background-color: #000000;
    border: 3px solid #39b608de;
    height: 100%;
    width: 100%;
    top: 0px;     
}
header#cabecalho h1#main_tit{
    color: #4bff04de;
    text-align: center;
    margin-top: 300px;
    font-family: 'Press Start 2P', cursive;
    font-size: 50pt;
}
header#cabecalho h2#desc_tit{
    color: #ffffff;
    margin-top: 100px;
    margin-left: 30px;
    font-size: 20pt;
}

header#cabecalho div#button{
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: #000000;
    border-top: 1px dashed #39b608de;
    text-align: center;
    color: #39b608de;
    font-size: 30pt;
}
header#cabecalho div#button:hover{
    background-color: #d1c7c732;
    transition: .5s;
}
header span.symbols{
    font-family: 'Press Start 2P', cursive;
    color: #ff0000fd;
}
/* MENU */
nav#menu{
    width: 90%;
    margin: 155px auto 0px auto;
    background-color: #000000;
    opacity: .9;
}
nav#menu h3#autor{
    color: #ffffff;
    font-size: 15pt;
    text-align: right;
    padding-top: 20px; 
    margin: 0px 50px 0px 0px;   
}
nav#menu h2#opt{
    color: #ffffff;
    font-size: 20pt;
    text-align: left;
    padding-top: 20px;
    margin: 0px auto 10px 50px;
}
nav#menu figure#python{
    width: 500px;
    height: 506px;
    position: relative;
    margin-left: 50px;
}
nav#menu figcaption#python_leg a{
    position: absolute;
    color: #171E63;
    top: 50%;
    left: 30%;
    font-size: 40pt;
    font-weight: bold;
}
nav#menu figcaption#python_leg:hover a{
    text-decoration: underline;
}



